.register-container {
  background-color: #e9ecef;
  border-radius: 20px;
  padding: 2rem;
  width: 24rem;
  margin: 5rem auto;
  height: 38rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.reg-input {
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #dbe4ff;
}

.reg-heading {
  color: #364fc7;
  font-weight: 800;
}

.reg-btn {
  margin-top: 4rem;
  border: none;
  border-radius: 2rem;
  background-color: #364fc7;
  padding: 1rem;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

span {
  color: #868e96;
  margin-left: 1rem;
  font-size: 1.6rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
